*{
    border: 0;
    padding: 0;
    margin: 0;
}

:root{
    --fundo-color:#e9e9e9;
    --main-color:rgb(20, 19, 19);
    --font-color1:white;
    --color-sub-text:#676666 ;
}

body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--fundo-color);
}

#headerMain{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
}

#navigation {
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin: 6px;
}

#navigation li a {
    text-decoration: none;
    list-style-type: none;
    color: var(--font-color1) ;
    font-size: 16px;
    cursor: pointer;
}

#navigation a:hover {
    color: #565656;
}

#banner-dinamico{
    width: 100%;
}

main{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center ;
    justify-content: space-around;
}

.link-produto{
    text-decoration: none;
    color: var(--main-color);
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 12px;
}

.imagem{
    width: 95% ;
    height: 70%;
    border-radius: 10px;
}

.texto-anuncio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 80%;
    padding-left: 2rem;
    margin: 4px;
}

.nome-produto{
    font-size: 18px;
    text-align: left;
    width: 100%;
    font-weight: 500;
}

.preco{
    font-weight: 800;
    font-size: 22px;
    width: 100%;
}

.descricao{
    text-align: left;
    text-transform: lowercase;
    font-size: 15px;
    width: 100%;
    color: var(--color-sub-text);
    margin: 4px;
}

aside{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    align-items: center;
}


#Sub-banner{
    width: 100%;
    border-radius: 10px;
}
 
#a-sub-anucio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--color-sub-text);
}

.sub-anuncio{
    display: flex;
    flex-direction: column;
    align-items: center
}

#a-sub-anucio p{
    text-align: center;
    width: 90%;
}

#a-sub-anucio p:hover{
    color: var(--main-color) ;
}

.geral{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 90%;
    height: 6%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 2rem;
    
}

.geral img{
    border-radius: 10px;
}

.geral p{
    padding-left: 1rem;
}

#body-login{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form{
    padding: 10rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.inputt{
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
    height: 4vh;
}

form label{
    padding-top: 1rem;
    font-weight: 500;
    font-size: 20px;
    
}

.radios{
    padding-top: 1rem;
}

.bnt{
    margin-top: 1rem;
    height: 6vh;
    border-radius: 10px;
    background-color: var(--main-color);
    font-weight: 500;
    color: var(--fundo-color);
    font-size: 20px;
}